body{
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  padding-top: 30px;
}

.edit-layer {
  display: none;
}
.edit-layer button {
  margin-right: 15px;
}

#mainTable tr td table:hover .edit-layer {
  display: block;
  position: absolute;
}

.edit-button {
  position: absolute;
  margin: -15px;
}

.edit-button .btn-floating {
  font-size: 26px;
  font-weight: bold;
}
